{% extends 'base.html' %}

{% block title %}
Change password
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="styles/index.css" />
<link rel="stylesheet" href="styles/login.css" />
{% endblock %}

{% block content %}
<div class="message">
    {% if msg %}
    <div class="alert alert-danger" role="alert">
        {{msg}}
    </div>
    {% endif %}
</div>
<form action="/changepassword" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="mb-3">
        <label for="oldpassword" class="form-label">Old password</label>
        <input type="password" name="oldpassword" class="form-control" id="oldpassword" required>
    </div>
    <div class="mb-3">
        <label for="newpassword" class="form-label">New password</label>
        <input type="password" name="newpassword" class="form-control" id="newpassword" required>
    </div>
    <div class="mb-3">
        <label for="repassword" class="form-label">Retype password</label>
        <input type="password" name="repassword" class="form-control" id="repassword" required>
    </div>
    <button type="submit" class="btn btn-primary" id="login-btn">Save</button>
</form>
{% endblock %}