.notes-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
}

.details-table {
    border-collapse: collapse;
    margin: 10px 0 20px 0;
    font-size: 0.9em;
    width:50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color: #2E2E2E;
}

.details-table thead tr {
    background-color: #72898F;
    color: whitesmoke;
    text-align: center;
}

.details-table th,
.details-table td {
    padding: 12px 15px;
}

.details-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.details-table tbody tr:nth-of-type(even) {
    background-color: #e4e4e4;
    transition: 0.5s;
}

.details-table tbody tr:nth-of-type(even):hover {
    background-color: #8AACAB;
    transition: 0.5s;
}

.details-table tbody tr:nth-of-type(odd) {
    background-color: #f8f8f8;
    transition: 0.5s;
}

.details-table tbody tr:nth-of-type(odd):hover {
    background-color: #8AACAB;
    transition: 0.5s;
}

.details-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.centered-col {
    text-align: center;
}

a {
    text-decoration: none;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
}

.buttons > a {
    margin: 0.5%;
}